<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Are we there yet?</title>
    <style>
        body {
            font-family: sans-serif;

            background-color: {{ bg_color }};
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        .page {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: fit-content;
        }

        .fill {
            flex: 1;
        }

        .question, .full {
            font-size: max(min(6vw, 15vh),  12pt);
        }

        .answer {
            font-size: max(min(25vw, 30vh), 24pt);
        }

        .partial {
            font-size: max(min(4vw, 10vh),  10pt);
        }

        a:link {
            color: steelblue;
        }

        a:visited {
            color: slateblue;
        }

        .footer {
            font-size: min(10pt, 5vh);
            color: slategray;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;
        }        

        .gitlab-logo {
            height: min(30pt, 15vh);
        }

        .footer-right {
            align-self: flex-end;
        }
    </style>
</head>

<body>
    <div class="page">
        <div class="container">

            <div class="fill"></div>
            
            <div class="content">
                <div class="question">Are we there yet?</div>
                <div class="answer">{{ answer }},</div>
                <div class="full">{{ percent_full }} of Latvia is fully vaccinated.</div>
                <!-- 
                    Commented because need to rethink the logic. 
                    <div class="partial">and {{ percent_partial }} received one dose.</div> 
                -->
            </div>

            <div class="fill"></div>

            <div class="footer">
                <div>

                    Data as of {{ date }}.
                    <br />
                    <!-- Not working for now
                    <a href="https://covid19.nickto.net/vaccination">More</a> vaccination statistics.
                    <br /> 
                    -->
                    Data sources:
                    <a
                        href="http://data1.csb.gov.lv/Resources/PX/Databases/iedz/iedzskaits/isterm/IE010m.px">csb.gov.lv</a>,
                    <a href="https://data.gov.lv/dati/lv/dataset/covid19-vakcinacijas">data.gov.lv</a>.
                    <br />
                </div>
                <div class="footer-right">
                    <a href="https://gitlab.com/nickto/arewethereyet">
                        <img class="gitlab-logo"
                            src="https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg" />
                    </a>
                </div>
            </div>
           
        </div>
    </div>


</body>